<%- include('partials/_header')  %> 
      
<%- include('partials/_navigation')  %> 

     <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                    <h2>About Fitness</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <% if (about[0]) {  %> 
               <div class="col-md-5">
                  <div class="titlepage">
                     <p><%= about[0].detail %></p>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="/about/<%= about[0].image  %>" alt="#"/></figure>
                  </div>
               </div>
               <% } %> 
            </div>
         </div>
      </div>
      <!-- end about -->
<%- include('partials/_footer')  %> 