<%- include('partials/_header') %> <%- include('partials/_navigation') %>
<div class="back_re">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h2>Gallery</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- gallery -->
<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="offset-3 col-md-6">
        <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
            <div class="alert alert-success text-center" role="alert">
              <%= flashMessages.success %> 
            </div>
          <% } %>
          <% if (flashMessages.error) { %>
            <div class="alert alert-danger text-center" role="alert">
              <%= flashMessages.error %> 
            </div>
            <% } %> 
      <% } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <p>Share your experience in our gallery</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tz-gallery">
        <div class="col-sm-12">
          <div class="row">
            <% for (let i=0; i<images.length; i++) { %>  
            <div class="col-sm-6 col-md-4">
              <a class="gallery_img" href="/gallery/<%= images[i].image %>">
                <img src="/gallery/<%= images[i].image %>" alt="Bridge" />
              </a>
            </div>
            <% } %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end gallery -->
<%- include('partials/_footer') %>
