<%- include('partials/_header')  %> 

<%- include('partials/_navigation') %>

        <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                   <h2>Our Trainers</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- trainers -->
      <div  class="trainers">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>Personal trainer fitness, health and gym coach by MisFit</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <% for (let i = 0; i<trainers.length;i++) { %> 
               <div class="col-md-4">
                  <a href="/trainer/<%= trainers[i]._id %>"> 
                     <div id="trai" class="trainer_box">
                        <div class="trainer_img">
                           <figure><img src="<%= trainers[i].image %> " alt="#"/></figure>
                        </div>
                        <div class="trainer">
                           <h3><%= trainers[i].name  %></h3>
                           <p><%= trainers[i].email %> </p>
                        </div>
                     </div>
                  </a>
               </div>   
               <% } %>         
            </div>
         </div>
      </div>
      <!-- end trainers -->
<%- include('partials/_footer')  %> 