<%- include('partials/_header')  %>

<%- include('partials/_navigation')  %> 

      <div class="back_re">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                  <h2>Workouts Categories</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services -->
      <div  class="services">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <p>Choose a category that best suits the workout you're searching for. Once in the category, use the sort and filter options to find the right workout for your experience and goals.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <% for (let i = 0; i<workouts.length;i++) { %> 
               <div class="col-md-4">
               <a href="/workout/<%= workouts[i].slug %>">   
                  <div class="se_img">
                     <figure><img src="images/service1.jpg" alt="#"/></figure>
                  </div>
                  <div class="text-center">
                    <h3 class="text-white"><%= workouts[i].name %></h3>
                  </div>
               </a>
               </div>
               <% } %> 
            </div>
         </div>
      </div>
      <!-- end services -->
<%- include('partials/_footer')  %> 